.nieuwste-geems {
    width: 100%;
    height: 584px;
    transition: 0.3s;
    background-color: #f0f0ebbf;
    max-width: 648px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .8s cubic-bezier(.2,.8,.2,1);
    animation: fade 1s ease-in-out;
    }
.nieuwste-geems:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #5faceabf; 
    }
    .hovereffect:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #5faceabf; 
    }
.title {
    padding-top: 20px;
    padding-bottom: 18px;
    }
    
    body {
        margin: 0;
    }
   .lekrkoekj-paginas {
    width: 100%;
    height: 409px;
    transition: 0.3s;
    background-color: #F0F0EB;
    max-width: 648px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .8s cubic-bezier(.2,.8,.2,1);
    animation: fade 1s ease-in-out;
    }
.lekrkoekj-paginas:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #5faceabf; 
    }
    .hovereffect:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #5faceabf; 
    }
.title {
    padding-top: 20px;
    padding-bottom: 18px;
    }
    
    body {
        margin: 0;
    }


.hovereffect {
width:162px;
height:162px;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
    transition: 0.3s;
    animation: fade 1s ease-in-out;
    
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s cubic-bezier(1, 0.03, 1, 0.99);
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {

color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;

}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:25px 0 0;
padding:7px 14px;
}

.hovereffect:hover, a.info:hover {
box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 #5faceabf;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
filter: blur(2px);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:0s !important;
transition-delay:0s !important;
}
    .hovereffect#lb {
        border-radius: 20px 0px 0px 0px;
    }  
    .hovereffect#rb {
        border-radius: 0px 20px 0px 0px;
    }  
    .hovereffect#lo {
        border-radius: 0px 0px 0px 20px;
    }  
    .hovereffect#ro {
        border-radius: 0px 0px 20px 0px;
    }  