.reddit:hover, .youtube:hover, .instagram:hover, .discord:hover, .discordtech:hover, .adswakos:hover {
        transform: scale(1.1);
    }
    .reddit, .youtube, .instagram, .lkg-logo, .discord, .discordtech, .adswakos {
        transition: 0.3s ease-in-out;
    }
    img.lkg-logo:hover {
    transform: scale(1.05) !important;
}
div#header {
padding: 0px !important;
}
div#content {
padding-top: 0px;
}

img.reddit {
transition: 0.3s;
margin-left: 10px;
margin-right: 10px;
margin-bottom:25px;
border-radius: 12px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
max-width: 60px;
max-height:60px;
}
    img.youtube {
transition: 0.3s;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius:12px;
max-width: 60px;
max-height:60px;
width: 60px;

}
    img.instagram {
transition: 0.3s;
margin-left: 10px;
margin-right: 10px;
margin-bottom:25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
max-width: 60px;
max-height:60px;
border-radius: 12px;

}
    .lkg-logo {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
max-width:372px;
border-radius: 20px;
transition: 0.3s;
margin-left: 207px;
margin-right: 207px;
}
.lkg-logo:hover, img.youtube:hover, img.instagram:hover, img.discord:hover, img.reddit:hover, img.adswakos:hover, img.discordtech:hover {
box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 #5faceabf; 
}
    img.discord {
transition: 0.3s;
margin-left: 10px;
margin-right: 10px;
margin-bottom:25px;
max-width:60px !important;
max-height:60px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius:12px;
    }
    img.discordtech {
transition: 0.3s;
margin-left: 10px;
margin-right: 10px;
margin-bottom:25px;
max-width:60px;
max-height:60px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius:12px;
    }
    img.adswakos {
transition: 0.3s;
margin-left: 10px;
margin-right: 10px;
margin-bottom:25px;
max-width:60px;
max-height:60px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius:12px;
}



    button.mbtnS {
background-color: transparent; 
border: none;
color: black;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 25px 0px 0px 25px;
transition: 0.3s;
position: relative;
top: -19px;
    }
button.mbtnM {
background-color: transparent; 
border: none;
color: black;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
transition: 0.3s;
border-radius: 0px;
position: relative;
top: -19px;
    }
        button.mbtnE {
background-color: transparent; 
border: none;
color: black;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 0px 25px 25px 0px;
transition: 0.3s;
position: relative;
top: -19px;
    }
button.mbtnS:hover, button.mbtnM:hover, button.mbtnE:hover {
background-color: #ffffff80;
cursor: pointer;
}
    .menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 992px;
    border-radius: 25px;
    margin: auto;
    background-color: #ffffffcc;
    margin-bottom: 10px;
    transition: 0.3s;
    width: 100%;
    height: 38px;
    transition-delay: 0.2s;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
    .menu:hover {
    box-shadow: 0 6px 20px 0 #5faceabf; 
    max-width: 998px;
    height: 78px;
    }
    .menu:hover .menuimg {
    height: 30px;
    padding-bottom: 5px;
    }
    .menuimg {
        height: 0px;
        transition: 0.3s ease-in-out;
    }
    .menutext {
        display: block;
    }
    .menu:hover .mbtnS, .menu:hover .mbtnM, .menu:hover .mbtnE {
        top:0;
    }
    .menuimg:hover {
        transform: rotate(-360deg);
    }
.mbtnS:hover .menuimg, .mbtnM:hover .menuimg, .mbtnE:hover .menuimg {
        transform: rotate(-360deg);
        transition-delay: 0;
    }
body {
    background-image: url(http://www.simpsite.nl/uploads/161/920/Home/achergrond976939.png);
    animation: bg-scroll 500s infinite cubic-bezier(0, 0, 0, 0);
    background-repeat: repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    margin:0 !important;
    font-family: Tahoma;
    color: #444444;
}
button {
    font-family: Tahoma;
}
button#fullscreen {
    position: absolute !important;
    cursor: pointer !important;
    border-radius: 0px 0px 25px 0px !important;
}
button.normal, button#fullscreen {
background-color: #f0f0ebbf; 
border: none;
color: black;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transition: 0.3s;
padding: 13px;
    }
button.big {
background-color: #f0f0ebbf; 
border: none;
color: black;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 25px;
border-radius: 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transition: 0.3s;
padding: 13px;
    }
button.small {
background-color: #f0f0ebbf; 
border: none;
color: black;
padding: 10px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
border-radius: 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transition: 0.3s; 
padding: 13px;
    }

button.normal:hover, button.big:hover, button.small:hover, button#fullscreen:hover {
background-color:#d4d4d1;
cursor:pointer;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #5faceabf;
}
iframe {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes fade {
        0% {opacity:0; position: relative; top: 15px;}
        100% {opacity:1; position: relative; top: 0px;}
    }

@keyframes zoom {
50% {transform: scale(2);}
}
@keyframes draai {
50% {transform: rotateZ(360deg);}
}
@keyframes knipper {
50% {opacity:0;}
}

img.big-discord-icon {
height: 180px !important; 
width: 180px !important;
transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}
.big-discord-icon:hover {
transform: scale(1.025);
box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 #5faceabf; 
}


@keyframes bg-scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px 0px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  box-shadow: 0 6px 20px 0 #5faceabf; 
}
.site-container {
    background: #ffffffa3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1px;
}
.topbar {
    padding-bottom: 10px;
    padding-top:9px;
}
span.menutext {
    font-family: Tahoma;
}
.gsc-control-cse.gsc-control-cse-nl {
    border: 0;
    border-color: transparent;
    background: transparent;
}
    .effect-item {
        display: inline-block;
        font-size: 16px;
    }
    .effect-bar {
        background: #ffffffa3!important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /*border-radius: 0px 0px 20px 20px;*/
        padding: 10px;
    }
    div#wrapper {
        margin-bottom: 0 !important;
    }
    .effect-title {
        margin-bottom: 10px;
    }
    @keyframes wrapper-spin {
        50% {transform:rotate(360deg)}
    }
    body#view-usersite {
        transition: 0.5s ease-in-out;
    }
.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-right: 12px;
  font-size: 16px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  transform: scale(0.7);
}

.checkbox-container:hover input ~ .checkmark {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 #5faceabf;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}