.nieuwste-geems {
    width: 100%;
    height: 561px;
    transition: 0.3s;
    background-color: #f0f0ebbf;
    max-width: 648px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .8s cubic-bezier(.2,.8,.2,1);
    animation: homefade 1s ease-in-out; 
    animation-fill-mode: forwards;
    opacity:0;
    }
.nieuwste-geems:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #5faceabf; 
    }
    .hovereffect:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #5faceabf; 
    }
.title {
    padding-top: 20px;
    font-size: 29px;
    padding-bottom: 0px;
    }
   .lekrkoekj-paginas {
    width: 100%;
    height: 399px;
    transition: 0.3s;
    background-color: #F0F0EBbf;
    max-width: 648px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .8s cubic-bezier(.2,.8,.2,1);
    animation: homefade 1s ease-in-out; 
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
       opacity:0;
    }
.lekrkoekj-paginas:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #5faceabf; 
    }
.populaire-geems {
    width: 100%;
    height: 560px;
    transition: 0.3s;
    background-color: #f0f0ebbf;
    max-width: 648px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .8s cubic-bezier(.2,.8,.2,1);
    animation: homefade 1s ease-in-out; 
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
    opacity:0;
    }
.populaire-geems:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #5faceabf; 
    }

.hovereffect {
width:162px;
height:162px;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
    transition: 0.3s;
    animation: fade 1s ease-in-out;
    
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition: 0.3s;
}

.hovereffect img {
display:block;
position:relative;
transition: 0.3s;
}

.hovereffect h2 {
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
transition: 0.3s;
padding:10px;
width: 135px;
display: inline-block;
border-radius: 25px;
font-weight: normal;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color: black;
border: none;
background: #f0f0ebbf;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:25px 0 0;
padding:7px 14px;
border-radius: 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hovereffect:hover, a.info:hover {
box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 20px 0 #5faceabf;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
filter: blur(2px);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:0s !important;
transition-delay:0s !important;
}
    .hovereffect#lb {
        border-radius: 20px 0px 0px 0px;
    }  
    .hovereffect#rb {
        border-radius: 0px 20px 0px 0px;
    }  
    .hovereffect#lo {
        border-radius: 0px 0px 0px 20px;
    }  
    .hovereffect#ro {
        border-radius: 0px 0px 20px 0px;
    }  