body {
    background: white;
    color: #333333;
    margin: 0;
    font-family: Lato;
    height: 100vh;
}
nav a {
    color: #333333;
    text-decoration: none;
    font-family: PT Sans;
    font-weight: bold;
}
body {
    --lkg-blue: #5facea;
    --lkg-green: #64b752;
    --lkg-turquoise: #43b6bb;
    --lkg-purple: #9a95fd;
    --lkg-pink: #f680c1;
    --lkg-orange: #dd9257;
    --lkg-red: #ea5f5f;
    --lkg-yellow: #ddcc57;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: -2px 1px 12px 3px #0000004f;
    height: 78px;
    position: fixed;
    width: 100%;
    top: 0;
    background: #ffffff7d;
    z-index: 10;
}
.nav-ul li#logo {
     float: left;
}
.nav-ul li {
     float: right;
     transition: 0.2s;
}
.menu-button:hover {
    background: #5656560f;
}
.nav-ul li a {
    display: block;
     padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Nexa;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.split-div {
    display: grid;
    grid-template-columns: 50% 50%;
}
@font-face {
    font-family: Nexa;
    src: url("/fonts/NexaDemo-Bold.woff2") format("woff2"), url("/fonts/NexaDemo-Bold.woff") format("woff")
}
.menu-button img {
    max-height: 35px;
    height: 100%;
    transition: 0.3s;
}
.menu-button:hover img {
    transform: rotate(360deg);
}
.menu-button {
    border: 0;
    background: transparent;
    font-family: Nexa;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    padding: 10px 6px;
    height: 78px;
   min-width: 78px;
    cursor: pointer;
    color: #333333;
}
.lkd-home {
    background-image: urL(/images/lkd-home-background.png);
    height: 1219px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.home-section button {
    font-family: Nexa;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background: transparent;
    margin: 17px;
    cursor: pointer;
    transition: 0.3s;
}
.home-section button:hover {
    background: white;
    color: #333333;
}
.home-section h1 {
    text-align: center; 
    font-size: 80px;
}
.home-section p {
    color: white; 
    text-align: center;
    font-size: 20px;
}
.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}