/* General Styles */
body {
    margin: 0;
    color: #595959;
    font-family: Lato;
    font-size: 16px;
}
body {
    --lkg-blue: #5facea;
    --lkg-green: #64b752;
    --lkg-turquoise: #43b6bb;
    --lkg-purple: #9a95fd;
    --lkg-pink: #f680c1;
    --lkg-orange: #dd9257;
    --lkg-red: #ea5f5f;
    --lkg-yellow: #ddcc57;
}
body#sticky-menu {
    padding-top: 78px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Nexa;
    color: #444444;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
button.normal {
    background: #5facea;
    color: white;
    border: 0;
    box-shadow: 0px 2px 7px 0px #0000001a;
    cursor: pointer;
    font-size: 16px;
    font-family: Lato;
    padding: 20px;
    margin: 0px;
    border-radius: 5px;
    transition: 0.2s;
}
button.normal:hover {
    box-shadow: 0px 2px 7px 0px #0000004a;
    transform: translate(0px, -5px);
}
nav a {
    color: #333333;
    text-decoration: none;
    font-family: PT Sans;
    font-weight: bold;
}
.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 78px;
    width: 100%;
    top: 0;
    z-index: 10;
}
body#sticky-menu .nav-ul {
    position: fixed;
    box-shadow: -2px 1px 12px 3px #0000004f;
    background: #ffffff7d;
    backdrop-filter: blur(2px);
}
.nav-ul li#logo {
     float: left;
}
.nav-ul li {
     float: right;
     transition: 0.2s;
}
.menu-button:hover {
    background: #5656560f;
}
.nav-ul li a {
    display: block;
     padding: 0px;
}
.menu-button img {
    max-height: 35px;
    height: 100%;
    transition: 0.3s;
    border-radius: 2px;
}
.menu-button:hover img {
    transform: rotate(360deg);
}
.menu-button {
    border: 0;
    background: transparent;
    font-family: Nexa;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    padding: 10px 6px;
    height: 78px;
    min-width: 78px;
    cursor: pointer;
    color: #333333;
    user-select: none;
}
@font-face {
    font-family: Nexa;
    src: url("/fonts/NexaBold.otf") format("opentype"), url("/fonts/NexaRegular.otf") format("opentype"), url("/fonts/NexaLight.otf") format("opentype")
}
/* Footer */
footer h2 {
    color: white;
}
footer {
    background: var(--lkg-blue);
    padding: 10px;
    color: white;
}
div#footer-inside {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}
img#footer-img {
    width: 138px;
}
@media only screen and (max-width: 930px) {
    div#footer-inside {
        grid-template-columns: none;
}
    div#footer-inside hr {
        display: block;
    }
}
@media only screen and (min-width: 930px) {
    div#footer-inside hr {
        display: none;
    }
}
div#footer-inside hr {
    border-width: 1px;
    height: 0px;
    width: 100%;
    border-style: solid;
    padding: 0px;
    border-radius: 5px;
}
footer a {
    color: white !important;
}
/* Homepage */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    font-family: Lato;
}
@media only screen and (min-width: 2560px) {
        .mySlides, .mySlides td {
            height: 572px !important;
        }
}
@media only screen and (min-width: 1920px) {
    .mySlides, .mySlides td {
        height: 457px;
    }
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #5facea;
    opacity: 0.7;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.active {
    opacity: 1;
}
.fade {
    animation: slideshow-fade 0.25s linear;
}
@keyframes fade {
    0% {opacity: 0} 
    100% {opacity: 1}
}
@keyframes slideshow-fade {
    0% {transform: scale(0.9); opacity: 0;}
    100% {transform: scale(1); opacity: 1;}
}
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
.slideshow-container p {
    margin-top: 5px !important;
}
.dot {
    cursor: pointer;
}
.home-grid {
    background: #f5f5f5;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 20px;
}
.title {
    font-size: 29px;
    padding-bottom: 0px;
    margin: 20px 0px;
}
.populaire-geems, .lekrkoekj-paginas, .nieuwste-geems, .lekrkoekj-geems {
    width: 100%;
    height: 398px;
    transition: 0.3s;
    background-color: #ffffffbf;
    max-width: 648px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px #0000001a;
    transition: 0.3s;
    overflow: hidden;
    margin-top: 20px;   
}
.lekrkoekj-paginas {
    height: 239px;
}
.populaire-geems {
    height: 560px;
}
.hovereffect {
    width:162px;
    height:162px;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    transition: 0.3s;
    z-index: 1;
}
.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    transition: 0.3s;
}
.hovereffect img {
    display:block;
    position:relative;
    transition: 0.3s;
}
.hovereffect h2 {
    color:black;
    text-align:center;
    position:relative;
    font-size:17px;
    background:#f0f0ebbf;
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    transition: 0.3s;
    padding:10px;
    width: 135px;
    display: inline-block;
    border-radius: 5px;
    font-weight: normal;
    box-shadow: 0px 2px 7px 0px #0000001a;
}
.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color: black;
    border: none;
    background: #f0f0ebbf;
    opacity:0;
    filter:alpha(opacity=0);
    transition: 0.3s;
    margin:25px 0 0;
    padding:7px 14px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px #0000001a;
    font-family: Lato;
    font-size: 16px;
}
.hovereffect:hover img {
    filter: blur(1px);
    backface-visibility: hidden;
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}
.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}
.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}
.hovereffect:hover a.info {
    -webkit-transition-delay:0s !important;
    transition-delay:0s !important;
}
.hovereffect#lb {
    border-radius: 5px 0px 0px 0px;
}
.hovereffect#rb {
    border-radius: 0px 5px 0px 0px;
}
@media only screen and (max-width: 930px) {
    .announcement-td2, .populaire-geems, .lekrkoekj-paginas, .nieuwste-geems {
        display: none;
    }
    .home-mobile-message {
        display: block;
    }
    .game-img {
        width: 100px;
        height: 105px;
    }
}
@media only screen and (min-width: 930px) {
    .home-mobile-message, div#myNav {
        display: none;
    }
}
@media only screen and (max-width: 1313px) {
    .home-grid {
        grid-template-columns: auto;
    }
}
/* Categories */
.category-header-container {
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-position-y: center;
    background-size: cover;
}
.category-header-container#lkg {
    background-image: url(/images/lekrkoekj-fast.gif);
    background-color: white;
    background-repeat: repeat;
    background-size: contain;
}
.category-header-overlay {
    height: 150px;
    width: 100%;
    background: #1317198c;
    vertical-align: middle;
    backdrop-filter: blur(4px);
}
.category-header-overlay h1 {
    color: white;
    margin: 0;
    font-size: 80px;
    padding-top: 10px;
}
@media only screen and (max-width: 930px) {
    .category-header-overlay h1 {
        font-size: 45px !important;
    }
    .category-header-title-container {
        transform: translateY(42px) !important;
    }
}
.category-header-title-container {
    transform: translateY(15px);
}
.category-grid {
    display: grid;
    grid-template-columns: calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7) calc(100% / 7);
    padding: 10px;
}
.category-grid button.normal img {
    height: 150px;
}
.category-grid button.normal {
    width: 190px;
    margin: 10px;
}
@media only screen and (max-width: 1394px) {
    .category-grid {
        grid-template-columns: calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6);
    }
}
@media only screen and (max-width: 1206px) {
    .category-grid {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}
@media only screen and (max-width: 1004px) {
    .category-grid {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media only screen and (max-width: 806px) {
    .category-grid {
        grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    }
}
@media only screen and (max-width:  608px) {
    .category-grid {
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (max-width:  412px) {
    .category-grid {
        grid-template-columns: 100%;
    }
}

/* Game pages */
button#fullscreen {
    position: absolute;
    border-radius: 0px 0px 5px 0px;
    background: #ffffffe3;
    font-family: Nexa;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 30px 0px rgba(34,56,101,0.1);
    border: 0;
    transition: 0.3s;
}
button#fullscreen:hover {
    box-shadow: 0px 4px 30px 0px rgba(34, 56, 101, 0.18);
    background: white;
}
div#container object {
    box-shadow: 0px 4px 30px 0px rgba(34,56,101,0.1);
}
div#container {
    margin: 25px;
}
body.dark img[alt="Andere Geems"] {
    filter: invert(1);
}
div#container object, div#container iframe {
    width: 85vw;
    height: 100vh;
    border: 0;
}
.lkd-links {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}
/* Dark Mode */
body.dark h1, body.dark h2, .body-dark h3, .body-dark h4, .body-dark h5, .body-dark h6 {
    color: white;
}
body.dark#sticky-menu .nav-ul {
    background: #3236397d;
}
body.dark .menu-button {
    color: white;
}
body.dark img#moon, img#sun {
    display: none;
}
 img#moon, body.dark img#sun {
    display: inherit;
}
body.dark {
    background: #131719;
    color: white;
}
body.dark footer {
    background: #323639;
}
body.dark .dot {
    background-color: gray;
}
body.dark nav li {
    color: white;
}
body.dark button.normal {
    background: #323639;
}
body.dark nav li:hover {
    border-top-color: gray;
}
body.dark .home-grid {
    background: #1b2022;
}

body.dark .populaire-geems, body.dark .lekrkoekj-paginas, body.dark .nieuwste-geems, body.dark .lekrkoekj-geems {
    background: #323639;
}
body.dark .hovereffect a.info, body.dark .hovereffect h2 {
    background: #1b2022bf;
    color: white;
}
body.dark #darkModeText {
    font-size: 0px;
}
body.dark #darkModeText::after {
    font-size: 16px;
    content: 'Licht';
}

/* 404 pages */
.centered-404 {
    height: 1219px;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.centered-404 h1, .centered-404 .inside-404 p {
    color: #444444;
}
.home-section h1, .inside-404 h1 {
    text-align: center; 
    font-size: 80px;
    animation: text-fade-in 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.home-section, .inside-404 {
    width: 98%
}
.home-section p, .inside-404 p {
    color: white; 
    text-align: center;
    font-size: 20px;
    animation: text-fade-in 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;
} 
@keyframes text-fade-in {
    0% {transform: translateY(+10px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}